.card {
  background: rgba(250, 250, 250, 0.4);
  border: 3px solid white;
  border-radius: 5px;
  &:hover {
  background: rgba(250, 250, 250, 0.5);
  cursor: pointer;    
  }
  &.selected, &.matched {
    &#axe { background: no-repeat center/40% url('../imgs/axe.png'); }
    &#backpack { background: no-repeat center/40% url('../imgs/backpack-1.png'); }
    &#cabin { background: no-repeat center/40% url('../imgs/cabin.png'); }
    &#campfire { background: no-repeat center/40% url('../imgs/campfire.png'); }
    &#canoe { background: no-repeat center/40% url('../imgs/canoe.png'); }
    &#lamp { background: no-repeat center/40% url('../imgs/lamp-1.png'); }
    &#knife { background: no-repeat center/40% url('../imgs/swiss-army-knife.png'); }
    &#tent { background: no-repeat center/40% url('../imgs/tent-1.png'); }  
    
  }
  
  &.selected { border-color: rgba(32, 178, 170, 0.8); }
  &.matched { border-color: rgba(36, 221, 135, 0.8); }
  &.no-match { border-color: rgba(221, 58, 36, 0.8); }
}
